@import 'src/assets/scss/_base';
@import 'src/assets/scss/_animation';

.search-box {
  @include c-center;
  width: 500px;
  height: 50px;
  transform: translateY(-2000px);

  &.render {
    @include drop(-2000px, -40px);
    animation: drop .5s;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
  }

  .search-area {
    width: 100%;
    height: 100%;

    :global {
      .ant-select-selection {
        height: 50px !important;
        background-color: $bg_color_dark;

        .ant-select-search {
          height: 50px;
        }

        .ant-select-selection__placeholder {
          padding-left: 20px;
        }
      }

      .ant-input {
        height: 100%;
        padding: 10px 50px 10px 30px !important;
      }
    }
  }
}

.result-list {
  font-size: 12px;
  .top-info {
    width: 100%;
    display: flex;
    height: 30px;
    line-height: 30px;
    align-items: center;

    .name {
      max-width: calc(100% - 60px);

      & > em {
        color: $em_light;
        margin: 0 2px;
      }
    }
  }

  .bottom-info {
    width: 100%;
    display: flex;
    height: 30px;
    line-height: 30px;
    align-items: center;
    justify-content: space-between;
  }
}
